<template>
  <v-dialog
      v-model="dialog"
      persistent
      max-width="500"
  >
    <v-card>
      <div class="container">
        <v-card-title class="headline">
          Quels TVA pour vos produits
        </v-card-title>
        <v-card-text>La TVA que vous choisissez sera appliquer sur vos produits</v-card-text>
        <TableTva />
        <div class="my-4">
          <v-select
              :items="getList"
              label="Choisir une TVA"
              dense
              solo
              @change="setTva"
          ></v-select>
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
              color="green darken-1"
              text
              :disabled="choiceTva !== ''"
              @click="dialog = false"
          >
            Valider
          </v-btn>
        </v-card-actions>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>

import TableTva from "../tables/Table-tva";
import tvaList from '../../utils/tva.json';

export default {
  name: "Modal-Tva",
  components: {TableTva},
  data() {
    return {
      dialog: true,
      choiceTva: '',
      tvaArray: tvaList.tvaArray,
    }
  },
  methods: {
    setTva(event) {
      localStorage.setItem('TVA', JSON.stringify(this.tvaArray.filter((item) => event.includes(item.country))));
    }
  },
  computed: {
    getList() {
      return this.tvaArray.map((_) => `${_.country} - ${_.taux}`)
    }
  }
}
</script>

<style scoped>

</style>
