<template>
  <div>
    <h3>Liste des items</h3>
    <div v-if="items.length > 0" class="grey rounded mt-5 lighten-3">
      <div class="px-5 py-5">
        <div v-for="(item, key) in items" :key="key" class="header d-flex justify-space-between">
          <div>{{ item.libel }}</div>
          <div>{{ item.price }} €</div>
          <div>{{ item.quantity }}</div>
        </div>
        <div>--------------------------------------------------------------------------------</div>
        <div class="body">
          <div class="d-flex justify-space-between">
            <div>Total without taxes </div><div>{{ getTotalHt_2 }}</div>
          </div>
          <div class="d-flex justify-space-between">
            <div>Discount</div><div>{{ getDiscount }}</div>
          </div>
          <div class="d-flex justify-space-between">
            <div>Tax Y</div><div>{{ getTaxes }}</div>
          </div>
        </div>
        <div>--------------------------------------------------------------------------------</div>
        <div class="footer d-flex justify-space-between">
          <div>Total price:</div>
          <div>{{ getTotal }}</div>
        </div>
      </div>
      </div>
    <div v-else>
      <div class="d-flex grey lighten-3 justify-center rounded pt-10 mt-4 pb-10">
        Il n'y a aucun item de renseigner !
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Table-item",
  props: {
    tva: {
      type: Number,
      default: () => 0
    },
    items: {
      type: Array,
      // eslint-disable-next-line vue/require-valid-default-prop
      default: () => []
    }
  },
  data() {
    return {
      total: 0
    }
  },
  methods: {
    getTotalHt() {
      return this.items.reduce((acc, curr) => acc + ( parseInt(curr.priceHt) * parseInt(curr.quantity) ) , 0);
    },
  },
  computed: {
    getTotalHt_2() {
      return this.getTotalHt();
    },
    getTaxes() {
      return 0;
    },
    getDiscount() {
      const value = this.getTotalHt() > 1000 ? this.getTotalHt() * .3 :
          this.getTotalHt() > 5000 ? this.getTotalHt() * .5 :
              this.getTotalHt() > 7000 ? this.getTotalHt() * .7 :
                  this.getTotalHt() > 10000 ? this.getTotalHt() * .10 :
                      this.getTotalHt() > 50000 ? this.getTotalHt() * .15 : this.getTotalHt() * .15
      return Math.round(value) / 10 ;
    },
    getTotal() {
      return this.items.reduce((acc, curr) => acc + parseInt(curr.price) * parseInt(curr.quantity), 0);
    }
  }
}
</script>

<style scoped>

</style>
