<template>
  <div>
    <h3>Tableau des TVA</h3>
    <v-simple-table>
      <template v-slot:default>
        <thead>
        <tr>
          <th class="text-left">
            Pays
          </th>
          <th class="text-left">
            Taux TVA
          </th>
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="(tva, key) in tvaArray"
            :key="key"
        >
          <td>{{ tva.country }}</td>
          <td>{{ tva.taux }}</td>
        </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>

<script>

import tvaList from '../../utils/tva.json';

export default {
  name: "Table-tva",
  data() {
    return {
      tvaArray: tvaList.tvaArray
    }
  }
}
</script>

<style scoped>

</style>
