<template>
  <div>
    <ModalTva />
    <div class="d-flex">
      <div style="width: 100%">
        <TableTva />
      </div>
      <div style="width: 100%">
        <FormItem @add="pushItem"/>
      </div>
    </div>
    <table-item :items="items" />
  </div>
</template>

<script>
    import TableTva from "../components/tables/Table-tva";
    import FormItem from "../components/forms/Form-Item";
    import TableItem from "../components/tables/Table-Items";
    import ModalTva from "../components/modals/Modal-Tva";
    export default {
      name: "Home",
      components: {ModalTva, TableItem, FormItem, TableTva},
      data() {
        return {
          items: []
        }
      },
      methods: {
        pushItem(item) {
          this.items.push(item)
        }
      }
    }
</script>

<style scoped>

</style>
