<template>
  <div class="ml-4">
    <h3>Renseigner un item</h3>
    <v-form
        ref="form"
        v-model="valid"
        lazy-validation
    >
      <div>
        <v-text-field placeholder="Le libellé" filled v-model="item.libel"/>
        <div class="d-flex align-center">
          <v-text-field min="1" @input="changePrice" type="number" placeholder="Taux de réduction" filled v-model="item.priceHt" />
          <div class="ml-3">
            <p class="green--text">{{ item.price }} € avec TVA</p>
          </div>
        </div>
        <v-text-field min="1" type="number" placeholder="Taux de réduction" filled v-model="item.quantity" />
      </div>
      <div class="d-flex justify-end">
        <v-btn @click="validate" color="primary" shaped>Valider</v-btn>
      </div>
    </v-form>
  </div>
</template>

<script>
export default {
  name: "Form-Item",
  data() {
    return {
      valid: true,
      item: {
        priceHt: 0,
        libel: '',
        price: 0,
        quantity: 0,
      }
    }
  },
  methods: {
    validate () {
      this.$refs.form.validate()
      this.$emit('add', this.item);
      this.$refs.form.reset()
    },
    changePrice(newVal) {
      var tempVal = parseInt(newVal)
      this.item.price = tempVal + tempVal * (JSON.parse(localStorage.getItem('TVA'))[0].taux / 100);
    }
  }
}
</script>
